/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background: var(--Grey-10, #1A1A1A);
}

.header {
  background-image: url(../../assets/images/Group.png);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
}
.header .left-side {
  color: #FFF;
  color: var(--Absolute-White, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 1440px) {
  .header .left-side {
    font-size: 14px;
  }
}
@media screen and (max-width: 390px) {
  .header .left-side {
    font-size: 12px;
  }
}
.header .center {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}
.header .center a {
  color: white;
}
@media screen and (max-width: 1440px) {
  .header .center {
    font-size: 14px;
  }
}
@media screen and (max-width: 1440px) and (max-width: 1000px) {
  .header .center {
    font-size: 12px;
  }
}
.header .right-side {
  height: 32px;
  width: 32px;
  border-radius: 75px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  right: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1440px) {
  .header .right-side {
    height: 26px;
    width: 26px;
  }
}
@media screen and (max-width: 1000px) {
  .header .right-side {
    height: 26px;
    width: 26px;
    position: static;
  }
}

html {
  font-family: Urbanist;
}

.navbar {
  border-top: 1px solid var(--Grey-15, #262626);
  border-bottom: 1px solid var(--Grey-15, #262626);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 162px;
  padding-right: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background: var(--Grey-10, #1a1a1a);
}
@media screen and (max-width: 1440px) {
  .navbar {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.navigation-left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10.23px;
}
.navigation-left-side image {
  width: 48px;
  height: 48px;
}
@media screen and (max-width: 1440px) {
  .navigation-left-side image {
    width: 34px;
    height: 34px;
  }
}
@media screen and (max-width: 1000px) {
  .navigation-left-side image {
    width: 28px;
    height: 28px;
  }
}
.navigation-left-side p {
  color: white;
  width: 101.766px;
  height: 20.523px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  font-family: Urbanist;
}
@media screen and (max-width: 1440px) {
  .navigation-left-side p {
    width: 72.084px;
    height: 14.537px;
  }
}
@media screen and (max-width: 1000px) {
  .navigation-left-side p {
    width: 59.364px;
    height: 11.972px;
  }
}

.navigation-center {
  gap: 30px;
}
.navigation-center button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--Absolute-White, #fff);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding: 14px 24px;
}
@media screen and (max-width: 1440px) {
  .navigation-center button {
    padding: 12px 20px;
    gap: 24px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .navigation-center button {
    display: none;
  }
}
.navigation-center button:hover {
  background: var(--Grey-08, #141414);
  padding: 14px 24px;
  border: 1px solid var(--Grey-15, #262626);
}

@media screen and (min-width: 1000px) {
  .navigatiopn-right-side img {
    display: none;
  }
}
.navigatiopn-right-side button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--Absolute-White, #fff);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding: 14px 24px;
}
@media screen and (max-width: 1440px) {
  .navigatiopn-right-side button {
    padding: 12px 20px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .navigatiopn-right-side button {
    display: none;
  }
}
.navigatiopn-right-side button:hover {
  background: var(--Grey-08, #141414);
  padding: 14px 24px;
  border: 1px solid var(--Grey-15, #262626);
}

.grid {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  gap: 80px;
  position: relative;
  background-color: #141414;
}
@media screen and (max-width: 1440px) {
  .grid {
    gap: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .grid {
    flex-direction: column-reverse;
  }
}
.grid .left-side {
  display: flex;
  padding-left: 162px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
  width: 50%;
  background-color: #141414;
}
@media screen and (max-width: 1440px) {
  .grid .left-side {
    padding-left: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .grid .left-side {
    height: 100%;
    width: 100%;
    padding-left: 0px;
  }
}
.grid .left-side .text .heading-text {
  color: var(--Absolute-White, #fff);
  font-family: Urbanist;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  width: 100%;
  height: auto;
  padding-top: 144px;
}
@media screen and (max-width: 1440px) {
  .grid .left-side .text .heading-text {
    font-size: 46px;
  }
}
@media screen and (max-width: 1000px) {
  .grid .left-side .text .heading-text {
    height: 100%;
    width: 100%;
    color: var(--Absolute-White, #fff);
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
  }
}
.grid .left-side .text .footer-text {
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  height: auto;
  padding-top: 24px;
}
@media screen and (max-width: 1440px) {
  .grid .left-side .text .footer-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .grid .left-side .text .footer-text {
    height: 100%;
    width: 100%;
    color: var(--Grey-60, #999);
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}
.grid .left-side .button-container {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 20px;
}
.grid .left-side .button-container button:first-child {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid var(--Grey-15, #262626);
  background-color: transparent;
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 1440px) {
  .grid .left-side .button-container button:first-child {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Grey-15, #262626);
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .grid .left-side .button-container button:first-child {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Grey-15, #262626);
    color: var(--Absolute-White, #fff);
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}
.grid .left-side .button-container button:last-child {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: var(--Purple-60, #703bf7);
  cursor: pointer;
  background-color: #703bf7;
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  border: none;
}
@media screen and (max-width: 1440px) {
  .grid .left-side .button-container button:last-child {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Purple-60, #703bf7);
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .grid .left-side .button-container button:last-child {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Grey-15, #262626);
    color: var(--Absolute-White, #fff);
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}
.grid .card-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1440px) {
  .grid .card-container {
    gap: 16px;
  }
}
.grid .card-container .left-container {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  border-radius: 12px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1a1a1a);
}
@media screen and (max-width: 1440px) {
  .grid .card-container .left-container {
    padding: 16px 24px;
    border-radius: 10px;
    border: 1px solid var(--Grey-15, #262626);
    background: var(--Grey-10, #1a1a1a);
  }
}
@media screen and (max-width: 1000px) {
  .grid .card-container .left-container {
    padding-left: 0;
  }
}
.grid .card-container .left-container .container-heading {
  color: var(--Absolute-White, #fff);
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  align-self: stretch;
}
@media screen and (max-width: 1440px) {
  .grid .card-container .left-container .container-heading {
    font-size: 30px;
  }
}
.grid .card-container .left-container .container-footer {
  align-self: stretch;
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 1440px) {
  .grid .card-container .left-container .container-footer {
    font-size: 16px;
  }
}
.grid .card-container .middle-container {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  border-radius: 12px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1a1a1a);
}
@media screen and (max-width: 1440px) {
  .grid .card-container .middle-container {
    padding: 16px 24px;
    border-radius: 10px;
    border: 1px solid var(--Grey-15, #262626);
    background: var(--Grey-10, #1a1a1a);
  }
}
.grid .card-container .middle-container .container-heading {
  align-self: stretch;
  color: var(--Absolute-White, #fff);
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  .grid .card-container .middle-container .container-heading {
    font-size: 30px;
  }
}
.grid .card-container .middle-container .container-footer {
  align-self: stretch;
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 1440px) {
  .grid .card-container .middle-container .container-footer {
    font-size: 16px;
  }
}
.grid .card-container .right-container {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  border-radius: 12px;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1a1a1a);
}
@media screen and (max-width: 1440px) {
  .grid .card-container .right-container {
    padding: 16px 24px;
    border-radius: 10px;
    border: 1px solid var(--Grey-15, #262626);
    background: var(--Grey-10, #1a1a1a);
  }
}
.grid .card-container .right-container .container-heading {
  align-self: stretch;
  color: var(--Absolute-White, #fff);
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  .grid .card-container .right-container .container-heading {
    font-size: 30px;
  }
}
.grid .card-container .right-container .container-footer {
  align-self: stretch;
  color: var(--Grey-60, #999);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 1440px) {
  .grid .card-container .right-container .container-footer {
    font-size: 16px;
  }
}
.grid .right-side {
  position: relative;
  width: 50%;
  background: linear-gradient(238deg, #2a213f 8.76%, rgba(25, 25, 25, 0) 50.09%), #191919 50%/cover no-repeat;
}
@media screen and (max-width: 1000px) {
  .grid .right-side {
    height: 100%;
    width: 100%;
  }
}
.grid .right-side img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1440px) {
  .grid .right-side img {
    height: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .grid .right-side img {
    height: 100%;
    width: 100%;
    background: url(../../assets//icons/mobile-vectors.png);
    border-radius: 2%;
  }
}
.grid .right-side .center {
  top: 144px;
  position: absolute;
  transform: translateX(-50%);
}
@media screen and (max-width: 1440px) {
  .grid .right-side .center {
    width: 129px;
    height: 129px;
  }
}/*# sourceMappingURL=main.css.map */